

.btn {
            text-shadow: none !important;
         -o-text-shadow: none !important;
        -ms-text-shadow: none !important;
       -moz-text-shadow: none !important;
     -khtml-text-shadow: none !important;
    -webkit-text-shadow: none !important;
}

.tooltip {
    font-size: inherit !important;
    white-space: nowrap;
}

.close,
.tooltip.in {
            opacity: 1 !important;
         -o-opacity: 1 !important;
        -ms-opacity: 1 !important;
       -moz-opacity: 1 !important;
     -khtml-opacity: 1 !important;
    -webkit-opacity: 1 !important;
}

.tooltip-inner {
    color: #fff;
    background: #333;
            border-radius: 0 !important;
         -o-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
     -khtml-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.tooltip.right .tooltip-arrow { border-right-color: #333 !important; }
.tooltip.top .tooltip-arrow { border-top-color: #333 !important; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #333 !important; }
.tooltip.left .tooltip-arrow { border-left-color: #333 !important; }

.flag .tooltip.right {
    margin-left: 8px;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    min-height:600px;
} 

button.btn-freeopen{
    border-color: #006DBC;   
    background-image: none;
    background-color: #006DBC;
    color: white;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: normal;
    height: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
} 
button.btn-freeopen.disabled{
    border-color:white;
}

button.btn-freeopen:hover{
    background-color: #006dbc;
    color:white;
    cursor: default;
}
button.btn-freeopen.disabled:hover{
    background-color:#E6E6E6;
    color: black;
}
button.btn-freeopen.fo-normal-style{
    background-color: #DEDFE1;
    border-color: #DEDFE1;
    color: #A8A8A7;
}
button.btn-freeopen.fo-normal-style:hover{
    background-color: #DEDFE1;
    border-color: #DEDFE1;
    color:black;
} 



.transparent-fill {
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
}

.transparent {
            opacity: .9;
         -o-opacity: .9;
        -ms-opacity: .9;
       -moz-opacity: .9;
     -khtml-opacity: .9;
    -webkit-opacity: .9;
}

#marketing-layer{
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: 30px;
}
#panels-cont{
    z-index: 10;
    position: relative;
}

.panels{
    display: block;
    width: 100%;
    min-height: 30px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#panels-cont .panel{
    min-height: 1px;
    margin-left: 0px;
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;  
} 
.panel-inner{
    margin:0  auto 10px;
    width:98%;
    list-style:none;
}
div.panel-inner{
    position:relative;
    margin:0 auto; 
    bottom:0;
    width:100%;
    background:transparent;
    overflow: hidden;
} 
#left-panel div.panel-inner{
    overflow:visible;
}

#left-panel{
    width:65%; 
}
#right-panel{ 
    text-align:center; 
    width: 50%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    right: -54%;
    overflow: hidden;
}

ul.panel-inner li{
    margin-top:10px;
}
ul.panel-inner li:first-child{
    margin-top:0px;
}
 
#switch-language-dd{
    position: relative;
    top: 7px;
    right:0;
    z-index:1000001;
} 
#switch-language-dd p{
    font-size: 13px;
    line-height: 1;
    margin-bottom: 5px; 
    margin-left:3px;
    color: #AAA;
    font-weight: 600; 
}
#switch-language-dd select{
    font-size: 12px;
    line-height: 22px;
    height: 25px;
    margin-bottom: 0;
    width: 160px;
    
}
#switch-language-dd select option{}

div.panel-inner ul{
    margin:0  auto;
    width:100%;
    list-style:none;
    
} 
#right-panel div.panel-inner ul{ 
    overflow: hidden;
}

div.panel-inner .pin-overlay-share ul{
    float:none;
}

#headline{
    height:67px;
    position:relative;
    margin:0;
}
#headline span{ 
    position:absolute;
    right:0;
    top:0;
    height:67px;
    width:19px;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -380px no-repeat;  
}
#headline div{
    height:100%;
    margin-right:18px;
}
#headline a.ui-icon{
    position:absolute;
    top:7px;
    right:20px;
}
/*
#headline h2 {
    position: relative;
    top: 16px;
    line-height: 1;
    font-weight: normal;
    margin-left: 2%;
    margin: 0 0 0 2%; 
    font-size: 28px;
}
*/

#headline div.headline-wrap{
    display: table;
    margin:0;
    width:100%;
}

/*http://css-tricks.com/vertically-center-multi-lined-text*/ 
#headline h2{
    position: relative;
    top: 0;
    line-height: 1;
    font-weight: normal;
    margin: 0;
    padding: 0 40px 0 2%;
    font-size: 28px; 
    display: table-cell;
    vertical-align: middle;
    
    /*ie7 to get table-cell to work*/
    *clear: expression(
    style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight) / 2) + "px" : "0"),
    style.clear = "none", 0
    );
}

#about{
    padding: 0 2%;
    position: relative;
    overflow: hidden; 
    padding-bottom: 10px;
}

#about p {
    display: inline; 
}

#about p:first-child{
    padding-left:0px; 
} 
#about-inner{
    width:95%;
}

#about-inner p.last {
    display: block;
    margin-top: 10px;
}


#action-buttons{
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slanted-btn{
    width:auto;
    position:relative; 
    float:left;
    z-index:10;
}
.slanted-btn span{
    position:absolute;
    right:0;
    top:0;
    height:38px;
    width:13px;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -260px no-repeat;
}
.slanted-btn div{  
    background:#229294;
    height:38px;
    margin-right:13px;
}
.slanted-btn button,
.slanted-btn a.btn {
    background:#229294;
    border:none;
    border-radius:0 !important; 
    width: auto;
    padding:0 5px 0 20px;
    height: 38px; 
    color:white;
    font-size:16px;
} 
.slanted-btn button:hover,.slanted-btn a:hover.btn{
    background:#229294;
    color:white;
    text-decoration:underline;
}
.slanted-btn a.btn{
    line-height: 38px;
    text-decoration: none;
}

.slanted-btn.slant-color-pink{
    margin-left:-8px; 
    z-index:9;
}
.slanted-btn.slant-color-pink span{
    width:14px;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -300px no-repeat; 
}
.slanted-btn.slant-color-pink div{
    margin-right:14px;
} 
.slanted-btn.slant-color-pink div,
.slanted-btn.slant-color-pink button,
.slanted-btn.slant-color-pink button:hover{
    background:#f06797;
     
}
.slanted-btn.slant-color-yellow{
    margin-left:-8px; 
    z-index:7;
}
.slanted-btn.slant-color-yellow span{
    width:18px;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -300px no-repeat; 
}
.slanted-btn.slant-color-yellow div{
    margin-right:18px;
}
.slanted-btn.slant-color-yellow span{
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -340px no-repeat; 
} 
.slanted-btn.slant-color-yellow div,
.slanted-btn.slant-color-yellow button,
.slanted-btn.slant-color-yellow button:hover{
    background:#d5bf3a;
     
} 

#support-count{
    height:108px;
    position:relative;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -10px -150px no-repeat;  
    margin-left: 11px;
    margin-bottom: 10px;
}
#support-count div{
    height:100%;
    background:white;
    margin-left:29px;
}
#support-count h1 {
    font-size: 48px;
    line-height: 1;
}

#about-inner,
#support-count h4 {
    font-size: 16px;
}

#support-count h4 {
    text-align: center;
    margin-top: 5px;
    font-weight: 100;
    color: #333;
}


#right-panel h1{
    margin:0;  
    padding-top: 15px;
}
#voice-submit-show{
    height:55px;
    position:relative;
    background:transparent url('imgs/freeopen_edges_and_logo.png') -11px -90px no-repeat;
}
#voice-submit-show div{
    height: 100%;
    background: #00aad1;
    margin-left: 12px;
    padding-left: 22px;
}
button#add-voice-submit{
    font-size: 34px;
    display: block;
    height: 55px; 
    line-height:45px;
    width: 100%;
    font-weight: bold;  
    margin:0 auto;
    background: #00aad1;
    border-radius: 0 !important; 
    border:none; 
    text-transform: none;
    text-align: center !important;
}
button#add-voice-submit.disabled{
    opacity:1;
    color:#fff;
}

#voice-submit-show[class*="icontheme"] button#add-voice-submit:hover{
    color:white; 
    cursor:default !important;
}

#voice-submit-show.icontheme-0{background-position:-11px -90px;}
#voice-submit-show.icontheme-0 div,#voice-submit-show.icontheme-0 button#add-voice-submit{background: #00aad1;}  

#voice-submit-show.icontheme-1{background-position:-25px -90px;}
#voice-submit-show.icontheme-1 div,#voice-submit-show.icontheme-1 button#add-voice-submit{background-color: #F85F54;}

#voice-submit-show.icontheme-2{background-position:-40px -90px;}
#voice-submit-show.icontheme-2 div,#voice-submit-show.icontheme-2 button#add-voice-submit{background: #818282;}

#voice-submit-show.icontheme-3{background-position:-55px -90px;}
#voice-submit-show.icontheme-3 div,#voice-submit-show.icontheme-3 button#add-voice-submit{background: #F74268;}

#voice-submit-show.icontheme-4{background-position:-70px -90px;}
#voice-submit-show.icontheme-4 div,#voice-submit-show.icontheme-4 button#add-voice-submit{background: #7A4893;}

#voice-submit-show.icontheme-5{background-position:-85px -90px;}
#voice-submit-show.icontheme-5 div,#voice-submit-show.icontheme-5 button#add-voice-submit{background: #00A45F;}

#voice-submit-show.icontheme-6{background-position:-100px -90px;}
#voice-submit-show.icontheme-6 div,#voice-submit-show.icontheme-6 button#add-voice-submit{background: #000000;}


#voice-form-processing{
    display:none;
}
#add-voice-form.processing #voice-form-processing{
    position:relative
    z-index:200;
    background-color:#00aad1;
    background-image:url('imgs/voice-processing.gif');
    background-position:50% 50%;
    background-repeat:no-repeat;
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display:inline-block; 
    zoom:1;
}
#add-voice-form.processing #modal-voice-submit{
    background-color: #54B7FF;
    border-color: #54B7FF;
}
#add-voice-form.processing #modal-voice-submit:hover{
    color:white;
    cursor:default !important;
} 



#logo{ 
    position: absolute;
    width: 354px;
    height: 75px;
    top: -85px;
    background: transparent url('imgs/freeopen_edges_and_logo.png') -10px -10px no-repeat;
} 

#logo a{ 
    display:block;
    width:100%;
    height:100%;
    
}  

.msg-count{
    color:#000;
    margin-right: 10px;
}  

#modal-wrap .create-msg-processing{
    display:none;
} 
#modal-wrap.processing .create-msg-processing{
    display:inline-block;
    zoom:1;
} 


#map-controls {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 10;
}
#map-controls a {
    display: block;
    width: 33px;
    height: 33px;
    background: white;
    color: black;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 7px;
    border:1px solid #ddd;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; 
    
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.23);
    -moz-box-shadow:    2px 2px 4px rgba(0, 0, 0, 0.23);
    box-shadow:         2px 2px 4px rgba(0, 0, 0, 0.23);
}
a.zoom-out {
    line-height: 30px;
}
#map-controls a:hover {
    color:#aaa;
}

#map_canvas{
    position:absolute;
    top:0;
    left:0;
}

.no-select {
            user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
       -moz-user-select: none;
     -khtml-user-select: none;
    -webkit-user-select: none;
}

.triangle-tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.triangle-tooltip span {
    background-color: #333;
    color: #fff;
    padding: 5px 8px;
    white-space: nowrap;
    position: absolute;
    top: -8px;
    min-width: 100px;
}

.triangle-tooltip.active {
    opacity: 1;    
    visibility: visible;

}

.triangle-tooltip img {
    position: absolute;
    left: 25px;
    top: 16px;
    z-index: -1;
}

.triangle-message {
    position: absolute;
/*
    position: absolute;
    background-color: white;
    color: #000;
    font-weight: bold;
    padding: 13px;
    width: 274px;
    border: 1px solid #c3c3c3;
*/
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;

	background-color: #333;
	width: 250px;
}

.triangle-message.active {
    opacity: 1;    
    visibility: visible;
}

.triangle-message .msg-header { 
	padding: 10px;
	color: #fff;
	overflow: hidden;
}
.triangle-message .msg-header .msg-icon{ 
    width:25px;
    height:25px;
/*
    float:left;
    display: inline;
    margin-top: -3px;
*/
}
.triangle-message .msg-header .msg-icon img{ 
    width:25px;
    height:25px;
    background-color: white;
}
.triangle-message .msg-header .msg-name {
	font-weight: bold;
	margin-left: 10px;
}
.triangle-message .msg-name .fullname{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.triangle-message .msg-name .screenname{
    font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.triangle-message .msg-content {
	background-color: #fff;
	padding: 8px 10px 6px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 10px solid #333;
	overflow: hidden;
}
.triangle-message .msg-content .msg-video {
	border: none;
	margin-top: 2px;
	margin-bottom: 2px;
}
.triangle-message .msg-content .msg-text {
	line-height: 1.25em;
	padding-bottom: 10px;
}
.triangle-message .msg-time,
.triangle-message .msg-via {
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    text-decoration: none;
    color: #a1a1a1;

    margin: 0;
    /*
    display: inline-block;
    width: 150px;
    */
}

.triangle-message .msg-via {
    margin-right: 20px; /* room for the flag icon */
}

.triangle-message .ui-icon.close {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
}

.triangle-message .ui-icon.flag {
    margin-left: 12px;
}

.msg-share-container {
    float: right;
    bottom: 14px;
	right: 14px;
	position: absolute;
}

.msg-share a .icon {
    background-image: url(imgs/freeopen-social-icons.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 3px;
}

    .msg-share .google .icon { background-position: -75px -2px; }
    .msg-share .facebook .icon { background-position: -5px -2px; }
    .msg-share .twitter .icon { background-position: -40px -2px; }

.tweet .msg-via {
    margin-left: .3em;
    /* display: none; */
}

.tweet a .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    background-position: center left;
    background-image: url(https://si0.twimg.com/images/dev/cms/intents/icons/sprites/everything-spritev2.png);
    background-repeat: no-repeat;
}

    .tweet .msg-time .icon {
        background-image: url(https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png);
        background-position: bottom center;
    }

    .tweet .reply .icon { background-position: 0 0; }
    .tweet .reply:hover .icon { background-position: -16px 0; }
    .tweet .favorite .icon { background-position: -32px 0; }
    .tweet .favorite:hover .icon { background-position: -48px 0; }
    .tweet .favorite.active .icon { background-position: -64px 0; }
    .tweet .retweet .icon { background-position: -80px 0; }
    .tweet .retweet:hover .icon { background-position: -96px 0; }
    .tweet .retweet.active .icon { background-position: -112px 0; }


.triangle-message .msg-tail{
    display: block;
    bottom: -32px;
    left: 47px;
    position: absolute;
}


.msg a{
    color:#666;
}
.msg .msg-share{
    color:#E1588A;
    font-weight:bold;
    margin-bottom: 10px;
    display: inline-block;
    zoom:1;
}
.msg .msg-name{
    top:-3px;
}
.msg .msg-icon{ 
    width:50px;
    height:50px;
    float:left;
}
.msg .push-right{
    position:relative;
    margin-left:60px;
    width:320px;
} 

.ui-icon {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: baseline;
    background-image: url(imgs/ui-sprite.png);
    background-repeat: no-repeat;
    border: none !important;
    text-decoration: none !important;
}

    .ui-icon.close { background-position: 0 0; }
    .ui-icon.close:hover { background-position: -13px 0; }

    .color1 .ui-icon.close:hover,
    .color3 .ui-icon.close:hover,
    .color4 .ui-icon.close:hover,
    .color6 .ui-icon.close:hover {
        background-position: -26px 0;
    }

    .ui-icon.flag { background-position: 0 -13px; }
    .ui-icon.flag:hover,
    .ui-icon.flag.flagged { background-position: -13px -13px; }
    
    .ui-icon.collapse {
        width:11px;
        height:7px;
        background-position: -27px -28px;
    } 
    .ui-icon.collapse:hover { background-position: -40px -28px; }
    .ui-icon.expand {
        width:11px;
        height:7px;
        background-position: -1px -28px;
    } 
    .ui-icon.expand:hover { background-position: -14px -28px; }

.close.fo-close {
    position: absolute;
    display: block;
    top: 14px;
    right: 14px;
    z-index: 9999;
}

.close.fo-close.hidden{
    display:none;
}

#add-voice-form-container{ 
    position:relative;
    width: 100%;
    height: 0;
    top:0;
    left:0; 
    z-index:10; 
    background: #00A9D1;
}   
    #add-voice-form{
        position:relative;
        width: 90%;
        height: 100%; 
        margin:0 auto;
        padding:20px 0 0; 
        text-align: left;
    } 

    body.ar #add-voice-form.directional,
    body.fa #add-voice-form.directional {
        text-align: right;
    }

    #add-voice-form fieldset{
        padding-bottom: 20px;
    }
    #add-voice-form label{
        color:white;
    }
    
    #modal-text-input.default{
        color:#aaa;
    }
    
.form-controls{
    text-align:left; 
    position:relative;
}

.privacy-tip{
    float:right;  
    text-decoration:underline;
}
.privacy-tip-msg {
    width: 95%;
    padding: 20px;
    pointer-events: none;  
}
.privacy-tip-msg.active{
    display:block;
}
.privacy-tip-msg.popover.top .arrow{
    left:75%;
}  

.popover {
    pointer-events: all !important;
}

#add-voice-form .privacy-tip{
    color:white;
}


#modal-intro-video{
       position:absolute;
       background:white; 
       z-index:999999;
       width:90%;  
       display:block;
       left:4%;
       top:0; 
       background:#fff; 
       border:1px solid #B9B9B9;
   } 
   #modal-intro-video.hidden{
       display:none;
   }
   #modal-intro-video-content{ 
       position:relative;
       padding-bottom: 56.25%; 
       margin: 38px 15px 15px; 
       height: 0;
   }
   #modal-intro-video iframe{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;  
   } 
   #modal-intro-video .arrow{
       left:29%;
   }

#pin-cont{    
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent; 
} 
#pin-cont.open{
    padding: 0;
    background: white;  
    border: 1px solid #AAA;
}

.pin-overlay{
    z-index: 999;
}
.pin-overlay-inner {
    position: relative;
    width: 100%; 
    height: 100%;
    display: block;
    margin: 0;
} 

.pin-overlay-img{
    width:auto;
    height:304px;
    padding: 0 20px;
}
.pin-overlay-img-sm{
    display:none;
}

.pin-overlay-msg{
    position:relative;
    left:0px;
    top:0px; 
    display: block;
    width: 100%;
    height: auto;
}
.pin-overlay-msg form{
    position: relative;
    float: left;
    margin: 0 0 0 20px;
}
.pin-overlay-msg h5{
    font-size: 24px;
    color: #DF7542;
    font-weight: 400;
}

.pin-overlay-msg span{
    font-size: 26px;
    word-wrap: break-word;
    color: #DF7542;
}
.pin-overlay-icon{
    position:relative;
    height:auto;
} 
.pin-overlay-icon-text{
    width:auto;
    height:auto;
    margin:0;
    padding:0 15px; 
    line-height:1;
    font-size:28px;
    color:white;
    background:transparent;
    font-weight:bold; 
    white-space:nowrap;
} 
.pin-overlay-icon-tip{
    width:45px;
    height:38px;
    position:absolute;
    margin:0;
    padding:0;
    background-position:0 0;
    background-repeat:no-repeat;
    background-image:url("../images/pins/circle-7.png"); 
    background-color:transparent; 
    display:none;
} 
.expanded-view .pin-overlay-icon-tip,
.close-view .pin-overlay-icon-tip{
    display:block;
}
.pin-overlay-share{
    position: relative;
    margin: 0 1px;
    padding: 0;
    background: #fff;
} 
.pin-overlay-share ul{
    margin: 10px 20px 5px 0px;
    padding: 0;
    float: right;
}

.pin-overlay-share p span{
    font-size:14px;
    font-weight:bold;
    color:white; 
 
    display:block;
}

.social-share-inline li{
    color:white;
    float:left;
    list-style:none;
}
.social-share-inline li:first-child{
    font-size:14px;
    font-weight:bold;
    color:white;
    text-align:left; 
    margin-right:10px; 
    line-height:25px;
    height:25px; 
    position:relative;
    top:3px;
}

.social-share-inline .share-item a{
    background:transparent url('imgs/freeopen-social-icons.png') 0 -2px no-repeat;
    width:25px;
    height:25px;
    display:inline-block;
    zoom:1;
    margin-right:5px;
}
.social-share-inline li[data-share="facebook"] a{
   background-position:-5px -2px; 
} 
.social-share-inline li[data-share="twitter"] a{
   background-position:-40px -2px; 
}
/* https://www.gstatic.com/images/icons/gplus-32.png */
.social-share-inline li[data-share="google"] a{
   background-position:-75px -2px; 
} 
.social-share-inline li[data-share="pintrest"] a{
   background: transparent;
   position:relative;
   top:2px; 
}

.pin-overlay-close{
    position:absolute;
    top:0px;
    right:5px;
    text-decoration:none;
    float:none;                
}
.pin-overlay-invisi-btn{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    display:none;
    z-index:9999;
} 

.pin-overlay img.pin-overlay-img-sm{
    -webkit-transition: -webkit-transform .3s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out;
        -o-transition: -o-transform .3s ease-in-out;
        -ms-transition: -ms-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
}
.pin-overlay.hover img.pin-overlay-img-sm{
    -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.pin-overlay-in-touch{
    clear:both;
    color:white;
    font-weight:bold; 
}
.pin-overlay a{
    text-decoration:none;
}
#pin-cont a.fo-close{
    top: 10px;
    right: 10px;
}

#pin-cont.expanded-view a.fo-close{
    top: 15px;
    right: 13px;
}
#pin-cont.expanded-view.me-equals-yes  a.fo-close {
    /* top: 19px; */
} 

#pin-cont .flag{
    margin-left: 0px;
} 

#pin-cont .triangle-message{ 
    width:100%;
    height:100%;  
    position:relative;
    clear: right;
    display:block;
    visibility: visible;
    background: none;
} 

#pin-cont.expanded-view .triangle-message{
    width: 250px;
}

#pin-cont.pin-overlay.open.me-equals-yes .pin-overlay-inner {
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
}

#pin-cont.pin-overlay.open.me-equals-yes.null-island .pin-overlay-inner,
#pin-cont.pin-overlay.open.me-equals-yes.expanded-view .pin-overlay-inner {
    padding: 0;
}

#pin-cont .triangle-message .msg-header .msg-icon,
#pin-cont .triangle-message .msg-header .msg-name,
#pin-cont .triangle-message .msg-content,
#pin-cont.expanded-view .triangle-message .msg-name .screenname,
#pin-cont.expanded-view .triangle-message .pin-overlay-img-wrap,
#pin-cont.expanded-view .triangle-message .pin-overlay-share{
    display:none;
} 
#pin-cont .triangle-message .ui-icon.close{ 
    top: 14px;
    right: 14px;
}

#pin-cont.open.expanded-view{
    border:none;
    background:#000;
}
#pin-cont.expanded-view .triangle-message{
    display:block;
    margin: 0;
}

#pin-cont.expanded-view .triangle-message .msg-header .msg-icon,
#pin-cont.expanded-view .triangle-message .msg-header .msg-name{
    display:inline;
}
#pin-cont.expanded-view .triangle-message .ui-icon.close{
    top: 5px;
    right: 5px;
}
#pin-cont.expanded-view .pin-overlay-img,
#pin-cont.expanded-view.null-island .pin-overlay-img,
#pin-cont.expanded-view.null-island.me-equals-yes .pin-overlay-img{
    height:180px;
    margin:10px; 
    padding:0;
    border: 1px solid #DDD;
    width:auto;
}
#pin-cont.expanded-view .triangle-message .msg-header{
    padding: 10px;
    color: white;
    overflow: hidden;
}
#pin-cont.expanded-view .triangle-message .msg-content {
    background-color: white;
    padding: 10px;
    margin: 0 1px 10px;
    border:none;
    clear: both;
    display:block;
}
#pin-cont.expanded-view .pin-overlay-share{
    position: relative;
    margin: 0 1px;
    padding: 0;
    background: #fff;
}
#pin-cont.expanded-view .pin-overlay-share ul{
    margin: 0; 
    padding: 0 0 4px 0; 
    float:none;
} 

#pin-cont.expanded-view .msg-share-container{
    right: 15px;
    bottom: 18px;
}
#pin-cont.expanded-view .pin-overlay-img-wrap{
    padding: 0;
    background: white;
    margin: 0 1px;
}

#pin-cont.expanded-view.me-equals-yes .triangle-message .msg-header .msg-icon{
    display:none;
}
#pin-cont.expanded-view.me-equals-yes .triangle-message .msg-header .msg-name{
    margin-left:0;
}

#pin-cont.expanded-view.me-equals-yes .triangle-message{
    width:100%;
}
#pin-cont.expanded-view.me-equals-yes .triangle-message .pin-overlay-img-wrap,
#pin-cont.expanded-view.me-equals-yes .triangle-message .pin-overlay-share{
    display:block;
} 
#pin-cont.expanded-view.me-equals-yes .triangle-message .msg-header .msg-name .fullname{
    padding:0;
}



#pin-cont.close-view{
    border:none;
} 
#pin-cont.close-view .triangle-message{
    width:auto;
}
#pin-cont.close-view .pin-overlay-img-wrap,
#pin-cont.expanded-view.close-view .pin-overlay-img-wrap,
#pin-cont.close-view .pin-overlay-share, 
#pin-cont.expanded-view.close-view .pin-overlay-share,
#pin-cont.close-view .triangle-message .msg-name .screenname,
#pin-cont.expanded-view.close-view .triangle-message .msg-name .screenname
#pin-cont.close-view .triangle-message .msg-content, 
#pin-cont.expanded-view.close-view .triangle-message .msg-content,
#pin-cont.close-view .triangle-message .msg-header .msg-icon,
#pin-cont.expanded-view.close-view .triangle-message .msg-header .msg-icon,
#pin-cont.expanded-view.me-equals-yes.close-view .triangle-message .pin-overlay-img-wrap,
#pin-cont.expanded-view.me-equals-yes.close-view .triangle-message .pin-overlay-share{
    display:none;
} 
#pin-cont.close-view .triangle-message .msg-header .msg-name{
    display:block;
    margin-left:0;
    white-space: nowrap;
}
#pin-cont.close-view .fo-close{
    display:none;
}

#pin-cont.me-equals-yes .triangle-message .msg-name .fullname{
    width:auto;
    height:auto;
    margin:0;
    padding:0; 
    line-height:1;
    font-size:28px;
    color:white;
    background:transparent;
    font-weight:bold; 
    white-space:nowrap; 
}
#pin-cont.close-view .triangle-message .msg-name .fullname{ 
    display: inline;
    min-width: 40px;
    font-size: 16px;
    white-space: nowrap;  
}  

#pin-cont.close-view .triangle-message .msg-name .screenname{
    display: inline;
    white-space: nowrap;
    color: white;
}


#pin-cont.close-view.me-equals-yes .triangle-message .msg-name .screenname{ 
    display:none;
} 
#pin-cont.close-view.me-equals-yes .triangle-message .msg-name .fullname {
    font-size:28px;
    padding-right:10px;
}
#null-island-pin{
    position: absolute;
    width: 100%;
    top: -10px;
    margin: 0;
    padding: 0;
    right: 10px;
}
#pin-cont.null-island{
    right:0;
    bottom:0;
    text-align:left;
}
#pin-cont.null-island .pin-overlay-icon-tip{
    display:none !important;
} 
#pin-cont.null-island.me-equals-yes .pin-overlay-img-wrap {
    overflow:hidden;
}
#pin-cont.null-island.me-equals-yes .pin-overlay-img {
    padding:0 10px; 
    width:100%;
    height:auto;
}


#global-share {
    margin-top: 7px; /* for alignment with the language <select> */
    float:right;
    margin-right:0;
}


.pin-overlay h5,.pin-overlay .pin-overlay-icon{display:none;}  

.processing-gif{
    width:16px;
    height:16px;
    line-height:1;
    background:transparent url('imgs/processing-spinner.gif') 0 0 no-repeat;
}
#form-stay-in-touch{
    position:absolute;
    z-index:999999;
    width:430px;
    left:5px;
    top:0;
    display:block;
    background:#fff; 
    border:1px solid #B9B9B9;
}
#form-stay-in-touch.hidden{
    display:none;
} 
#form-stay-in-touch iframe {
    display: none;
    height: 380px;
    width: 100%;
}

#form-stay-in-touch fieldset{
    margin: 0 10px 10px 10px;
}

#form-stay-in-touch p {
    /* space for the close icon */
    margin-right: 26px !important;
}

#form-stay-in-touch label{
    font-weight: 100;
    line-height: 1;
}

#form-stay-in-touch .checkbox{
    padding-left:0;
    padding-right:4px;
}
#form-stay-in-touch .row-submit{
    text-align:center; 
    margin-top:10px;
} 
#form-stay-in-touch .row-submit .btn{
    margin:10px 0;
}
#form-stay-in-touch p{
    margin: 10px 0 20px; 
} 
span.required {
    line-height: 1;
    font-weight: normal;
    margin: 0;                                                   
    position: relative;
    padding-left: 6px;
}

#form-stay-in-touch .processing-gif,#form-stay-in-touch.submitted .processing-gif{
    display:none;
} 
#form-stay-in-touch.processing .processing-gif{
    display:inline-block;
} 
#form-stay-in-touch #thank-you{
    display:none;
    position:absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background:#fff;
    z-index: 1;
} 
#form-stay-in-touch #thank-you p{
    text-align: left;
    margin: 40px 20px;
}
#form-stay-in-touch.submitted #thank-you{
    display:block;
}

#modal-wrap.dragging{
    cursor:move; 
}    
body.dragging{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}    
.high-activity-clr{color:#E36190;}
.medium-activity-clr{color:#00A9D1;}
.low-activity-clr{color:#D4BE3B;}
.no-activity-clr{color:#333;} 
.high-activity-bk{background-color:#E36190;}
.medium-activity-bk{background-color:#00A9D1;}
.low-activity-bk{background-color:#D4BE3B;}
.no-activity-bk{background-color:#333;}  

.hidden{
    display:none;
}
label.show-help .required{
    display:inline;
} 
.site-error{
    position:absolute;
    top:0;
    left:0;
    z-index:10000;
    width:100%;
    text-align:center;
} 
.site-error div{
    width:90%;
    margin:0 auto;
}


/* clr schemes (default == dark) */
body.light{
    background:#fff;
}
body.light #header-background,
body.light #add-voice-overlay h3,
body.light #add-voice-overlay h4{
    background:#f0f1f1;
    background: rgba(240, 241, 241, .7);
}  

body.light #add-voice-overlay h3,
body.light .pin-overlay-in-touch,
body.light #add-voice-overlay h4 a:hover,
body.light #time-navigator h3,
body.light .social-share-inline li:first-child{
    color:#000;
}


#modal.found #step-position{
    border-color:#fff;
} 


body.size-small #modal{ 
    top:120px !important;
    left:10px !important;
    width:380px !important;
} 
a.disabled{
    opacity:.3;
    cursor:default;
} 
.maia-locales{
      background: transparent url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpQTFRFW8b9S7X4I5T0ndX8qN/+Zsz/Oqv4MKL3UL788Pb7KZz2R634yuj9////3PD+vOL9itf++fn5p9b7rNn8cs/97vD/a8D/hdD/YbL4lt3/eNj+eLL7c8b+AAAAaH1gDwAAAB50Uk5T//////////////////////////////////////8A7BgcXgAAAJtJREFUeNpciosOgyAMRduBlMrTt27j/39zBWNmPAm9t4fCkrs7OcIGwuyHEFJX67sOyOxnmCO330rHWR9a64PblbXWa6slZCYJQMRBX7Bs1QREJTG2huCcGyZ1MrFsYIxJyigJmUkCiAj52042dkTN0MoeCT2vVA32gpliiKOpdYW4968b+wLlYqxC8m+K75+mLO5pSvnI+wkwAHuCDQU2Y3BZAAAAAElFTkSuQmCC") left center no-repeat;
      float: right;
      padding: 0 0 0 24px;
} 

.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #c15c5c; 
    border-width: 2px;
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #c15c5c;
}

/* localization */


/* localization */ 
body.lang-wide #headline h2{
    font-size:24px;
}

body.lang-wide button#add-voice-submit{
   font-size:28px; 
}

body.pt-BR .slanted-btn button, 
body.pt-BR .slanted-btn a.btn,
body.ja .slanted-btn button, 
body.ja .slanted-btn a.btn{
    font-size:14px;
}

body.ja button#add-voice-submit{
    font-size:24px;
}

/* Screens */
/* Large desktop */  

@media (max-width:1250px){
    #action-buttons [class*="span8"]{
        float:none;
        width:100%;
    }
     
    #action-buttons [class*="span4"]{
        float:none;
        margin: 20px 0 0 5px;
        width:auto;
    } 
    #action-buttons [class*="span7"]{
        width:auto;
    }
    #action-buttons [class*="span5"]{
        width:auto;
    }  
    
    #left-panel {
        width: 55%;
    }
    #right-panel {
        width: 75%; 
        right:-82%;
    } 

    #headline h2 {
        font-size: 24px;
    }
    
    body.lang-wide #headline h2{
        font-size:18px;
    } 
    body.lang-wide button#add-voice-submit{
       font-size:24px; 
    }
     
    
}                            


/* everything bigger than 1200px */
@media (min-width: 1200px) { 

} 
@media (max-width:1199px){
    #headline h2 { 
    } 
    #about p{
        font-size:14px;
    }
}
@media (min-width: 980px) and (max-width:1199px){
    
    
} 
@media (max-width: 979px) {
    .slanted-btn{
        margin-left: 0 !important;
        float:none;
    } 
    .slanted-btn span{
        display:none !important;
    }
    .slanted-btn div {
        margin-right:0 !important;
    }
    #left-panel {
        width: 50%;
    }
    #right-panel {
        width: 90%; 
        right: -100%;
    }
    #headline h2 {
        font-size:18px;
    }
    body.lang-wide #headline h2{
        font-size:16px;
    }
    #headline span {
        display:none;
    }
    #headline div {
        margin-right: 0;
    } 
    
    body.lang-wide button#add-voice-submit{
          font-size:22px; 
    }
    body.it button#add-voice-submit,
    body.sw button#add-voice-submit,
    body.vi button#add-voice-submit{
          font-size:28px; 
    }
    body.ja button#add-voice-submit{
        font-size:19px;
    }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #panels-cont .panel {
        float:none;
        position:relative;
    }
    div.panel-inner {
        position: relative;
    }
    #left-panel {
        width: 100%;
    }
    #right-panel {
        width: 100%;
        right:auto;
        position: relative;
    }
    #support-count,
    #voice-submit-show {
        background-image:none;
        margin-left:0;
        margin-bottom:0;
        
    }
    #support-count div,
    #voice-submit-show div {
        margin-left:0;
    }
    #voice-submit-show div{
        padding-left:0; 
    } 

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #map_canvas {
        display:none !important;
    }
    #null-island-pin{
        display:none !important;
    }  
    #marketing-layer {
        bottom:auto;
        top:85px;
    } 
    #logo{
        background-color: black; 
        background-position:-20px -10px;
        width: 100%;
    } 
    #form-stay-in-touch{
        width:95%;
    }
    #map-controls{
        display:none;
    }
    
}
 
/* Landscape phones and down */
@media (max-width: 480px) {    
    #map_canvas {
        display:none !important;
    }
    #null-island-pin{
        display:none !important;
    }
    #marketing-layer {
        bottom:auto;
        top:85px;
    } 
    #logo{
        background-color: black;
        background-position:-20px -10px;
        width: 100%; 
        
    } 
    #form-stay-in-touch{
        width:95%;
    }
    #map-controls{
        display:none;
    }
    
}
